

  


:root{
    
    --color-one:#FF8484;
    --color-two:#FFEDED;
    --color-text:#232323;
    --color-bg-2:#DCEBEB;
    --color-bg-1:#D9D9DC;


}
*{
  box-sizing:border-box ;
}
body{
    font-family: var(--font-famYli--)
    color var(--color-tex)
}
.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  
}
a{
  text-decoration: none;
}
@media(max-width:1200px){
  .container{
    max-width: 960px;
  }
}
@media(max-width:992px){
  .container{
    max-width: 720px;
  }
}
@media(max-width:768px){
  .container{
    max-width: 540px;
  }
}
@media(max-width:576px){
  .container{
    max-width: 100%;
   padding-left: 15px;
   padding-right: 15px;
  }
}