/* head*/
.header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
     background: var( --color-bg-1);
    
     padding: 0 40px;
}

.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .inner-wrap img{
    height: 50px;
    width: auto;
   
}
.header .inner-logo a {
    display: flex;
    align-items: center;
}
.header .inner-logo span{
    font-size: 22px;
    font-weight: 600px;
    color: var(--color-text);
    margin-left: 10px;
}
.header .inner-menu ul {
    display: flex;
}
.header .inner-menu ul li a{
    display: inline-block;
    padding: 30px 20px;
    color: var(--color-text);
    font-size: 18px;
}
.header .inner-menu ul li a:hover{
    background: #fff;
}
.header .inner-social ul{
    display: flex;
}
.header .inner-social ul li{
    margin-left: 10px;
}
.header .inner-social ul li a{
    /* c1 can giua*/
  /*display: inline-block;
  text-align: center;
   line-height: 40px; */
    /* c2 can giua khuyen dung*/
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 5px;
   background: white;
   color: var(--color-text);
   font-size: 30px;
}

.header .inner-icob-mobi{
    display: none;
}
@media(max-width:991.98px){
    .header .inner-icob-mobi{
        display:block ;
        cursor: pointer;
        font-size: 24px;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-social{
        display: none;
    }
    .header{
        padding:15px 20px;
    }

}

/*  and head*/

/* section one*/
.section-one {
   
    background-image:url(../imgaes/background1.jpg) ;
    padding: 150px 0;
    position: relative;
    

}
.section-one::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:#000 ;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    
}
.section-one .inner-wap{
    color: #fff;
    position: relative;
}
.section-one .inner-wap .inner-sub-title {
    font-size: 20px;
    margin-bottom: 10px;
}
.section-one .inner-wap .inner-title{
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.section-one .inner-wap .inner-desc{
    margin-bottom: 20px;
    color: var(--color-bg-1);
    font-weight: 500px;
   

}
.section-one .inner-buttons .button{
    color: var(--color-text);
    background: white;
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.section-one .inner-buttons .button-two{
    background: var(--color-two);
    color: var(--color-text);
    border-color:var(--color-two);
}
.section-one .inner-buttons .button-two:hover{
    background: #fff;
    border-color:#fff ;
}
.section-one .inner-buttons .button-two-ouline{
  
    background: transparent;
    color: #fff;
}
.section-one .inner-buttons .button-two-ouline:hover{
    background:var(--color-two);
    color: var(--color-text);
    border-color:var(--color-two) ;
}
@media (max-width:767.98px){
    .section-one .inner-wap{
        text-align: center;
    }
}

/* and section one*/


.section-two .button-two{
    
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    background: var(--color-two);
    color: var(--color-text);
  
    font-size: 20px;
}
.section-two .button-two:hover{
    background: #fff;
    border-color: #be1010;
   
    

}
.section-two{
    padding: 80px 0 50px;
    background: var(--color-bg-1);
}
.section-two .inner-wrap{
    display: flex;
    align-items: center;
    
}
.section-two .inner-wrap .inner-imgaes{
    width: 40%;
    margin-right: 5%;

}
.section-two .inner-wrap .inner-imgaes img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.section-two .inner-conten{
    flex: 1;
}
.section-two .inner-conten .inner-sub-title{
    font-size: 20px;
    margin-bottom: 10px;

}
.section-two .inner-conten .inner-title{
    font-size: 60px;
    margin-bottom: 30px;
}
.section-two .inner-conten .inner-list{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
  
    
}
.section-two .inner-conten .inner-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    margin-right: 10px;
    border-radius: 5px;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}
.section-two .inner-conten .inner-item i{
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--color-one);
}
.section-two .inner-conten .inner-item span{
    font-weight: 600px;
}
.section-two .inner-conten .inner-desc{
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--color-text);
}
@media (max-width:991.98px){
    .section-two .inner-wrap{
        flex-wrap: wrap;
    }
    .section-two .inner-wrap .inner-imgaes{
        width: 100%;
    }
    .section-two .inner-wrap .inner-list{
        width: 100%;
    }

}
@media (max-width:768px){
    .section-two .inner-wrap .inner-conten{
        text-align: center;
    }

}
@media (max-width:991.98px){
     .section-two .inner-conten .inner-list .inner-item{
        flex-wrap: wrap;

    }
}  


.section-3{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--color-bg-1);

}
.section-3 .inner-wrap{
    display: flex;
   background: #fff;
   padding-left: 40px;
   padding-right: 40px;
    border-radius: 8px;
    padding-bottom: 45px;
    
}
.section-3 .inner-imgaes{
    width: 30%;
    margin-left: 50px;
    position: relative;
   
}
.section-3 .inner-imgaes img{
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    bottom: -45px;
}
.section-3 .inner-conten{
   flex: 1;
}
.section-3 .inner-conten h3{
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--color-text);
    margin-top: 40px;
   
}
.section-3 .inner-conten h2{
    color: var(--color-text);
    font-size: 68px;
}
@media (max-width:1199.98px){
  
    .section-3  .inner-conten .inner-title{
       font-size: 50px;
    }
}
@media (max-width:991.98px){
    .section-3 .inner-wrap{
       
        flex-wrap: wrap
    }
    .section-3 .inner-conten{
        width: 100%;       
        flex: none;
        margin-bottom: 40px;
    }
    .section-3 .inner-conten .inner-title{
        font-size: 45px;
    }
    .section-3 .inner-imgaes {
        width: 100%;
        margin-left: 0;
        text-align: center;
       
       
    }
    .section-3 .inner-imgaes img {
        position:static;
        width: 50%;
        margin-bottom: -48px;
    }

}
@media (max-width:766.91px){
    .section-3 .inner-imgaes img {
        position:static;
        width: 94%;
        margin-bottom: -48px;
    }
    .section-3 .inner-conten{
        text-align: center;
    }
    .section-3 .inner-conten .inner-title{
        font-size: 40px;
    }
}
/* box-head*/
.box-head{
    margin-bottom: 30px;

}
.box-head .inner-sub-title{
    color:#777777 ;
    margin-bottom: 10px;
    font-size: 20px;

}
.box-head .inner-title{
    font-size: 58px;
    color: var(--color-text);
}
.box-head-center{
    text-align: center;
}


/*and box-head*/

.contac-form .inner-wrap button{
    color: #fff;
    background: black;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;

}
.contac-form .inner-wrap button:hover{
    color:var(--color-text);
    background: var(--color-two);
    border-color: #fff;
    cursor: pointer;
  
}
.contac-form {
    padding: 80px 0;
}
.contac-form .inner-wrap {
    background: var(--color-bg-2);
    padding: 60px ;
    border-radius: 8px;
}
.contac-form .inner-form-wrap {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
    justify-content: space-between;
}
.contac-form .inner-form-wrap input{
    width: 32.5%;
    height: 50px;
   
  
}
.contac-form .inner-form-wrap textarea{
    width: 100%;
    height: 150px;

}
.contac-form .inner-form-wrap input,.contac-form .inner-form-wrap textarea{
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
}

.contac-form .inner-button{
    text-align: right;
}
@media (max-width:991.98px){
 
    .contac-form .inner-form-wrap input{
        width: 100%;
    }
}
@media (max-width:575.98px){
    .contac-form .inner-wrap{
        padding: 25px;
    }

}

/* view action*/
.view-action{
    padding: 80px 0;
    background:var(--color-bg-2) ;
}
.view-action .inner-wrap{
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
}
.view-action .inner-wrap img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    

}
.view-action .inner-wrap .inner-button{
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}
.view-action .inner-wrap:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
   
}
.view-action .inner-wrap .inner-button i{
    position: relative;
}
@keyframes icons {
    from {
      width: 120px;
      height: 120px;
      opacity: 0.8;
    }
    to {
      width: 160px;
      height: 160px;
      opacity: 0;
    }
  }
/* End view action*/