:root{
    --color-one:#9265E9;
    --color-two:#FF98C3;
    --color-text:#1e1e1e;
}
body{
    color: var(--color-text);
    line-height: 1.6;
    margin: 0;
}
.button{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 45px;
    background: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease 0s;

}
a{
    text-decoration: none;
}
.box-head{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
   
}
